:root {
  --accent-color: #2196f3;
  --black-title-color: #212121;
  --product-item-name-color: #757575;
  --icon-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.visualiy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  transition: background-color var(--time) var(--cubic);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-span {
  color: var(--black-title-color);
}

.logo-span-white {
  color: #ffffff;
}

.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--time) var(--cubic);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--icon-color);
  transition: fill var(--time) var(--cubic);
}

.social__link:hover > .social__icon,
.social__link:focus > .social__icon {
  fill: #ffffff;
}

.social__color-white {
  fill: #ffffff;
}

.social__background-gray {
  background: rgba(255, 255, 255, 0.1);
}

.social__list-footer {
  margin-top: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time) var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu {
  display: none;
}

.header-contact {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: var(--black-title-color);
}

.burger-btn__icon:hover, .burger-btn__icon:focus {
  fill: var(--accent-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.close-btn__icon {
  width: 18.67px;
  height: 18.67px;
  fill: var(--black-title-color);
}

.close-btn__icon:hover, .close-btn__icon:focus {
  fill: var(--accent-color);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--black-title-color);
  transition: color var(--time) var(--cubic);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-container__bottom {
  position: fixed;
  bottom: 48px;
}

.mobile-menu-contact__list {
  margin-bottom: 64px;
}

.mobile-menu-contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--product-item-name-color);
}

.mobile-menu-social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mobile-menu-social__span {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }
  .header-container {
    justify-content: unset;
  }
  .burger-btn {
    display: none;
  }
  .menu {
    display: unset;
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .header-contact {
    display: unset;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .header-contact__link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--product-item-name-color);
    transition: color var(--time) var(--cubic);
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: var(--accent-color);
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-title-color);
    position: relative;
    transition: color var(--time) var(--cubic);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link.current {
    color: var(--accent-color);
  }
  .menu__link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 30px;
    position: absolute;
  }
  .header-contact__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header-contact {
    margin-left: auto;
    align-items: center;
    flex-direction: unset;
  }
  .header-contact__link {
    margin-left: 50px;
  }
  .header-contact__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .menu__link.current::after {
    margin-top: 28px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.37;
  }
}

.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/background-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px), (min-resolution: 192dpi) and (min-width: 320px), (min-resolution: 2dppx) and (min-width: 320px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/background-hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/background-hero-tablet.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/background-hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/background-hero-desctop.jpg);
    height: 600px;
    max-width: 1600px;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/background-hero-desctop@2x.jpg);
  }
}

.advantage {
  padding-bottom: 60px;
}

.advantage__icon-box {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  max-width: 450px;
}

.advantage__suptitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-title-color);
}

.advantage__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantage__box-margin {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantage__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
  .advantage__icon-box {
    max-width: 354px;
  }
  .advantage__suptitle {
    text-align: unset;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: unset;
    margin-left: 0px;
    margin-top: 0px;
  }
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantage__icon-box {
    max-width: 270px;
  }
  .advantage__list {
    flex-wrap: unset;
    margin-left: 0;
    margin-top: 0;
  }
  .advantage {
    padding-bottom: unset;
  }
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-title-color);
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  padding: 27px;
}

.about__overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.team {
  background: #f5f4fa;
}

.team__image {
  width: 100%;
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-title-color);
  margin-bottom: 30px;
}

.team__content {
  padding: 30px 32px;
  text-align: center;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-title-color);
}

.team__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--product-item-name-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

.client__icon {
  fill: var(--icon-color);
  transition: fill var(--time) var(--cubic);
}

.client__link:hover > .client__icon,
.client__link:focus > .client__icon {
  fill: var(--accent-color);
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--time) var(--cubic);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-title-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .client__link {
    max-width: 226px;
  }
  .client__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.17;
  }
  .client__link {
    max-width: 170px;
  }
  .client__item {
    flex-basis: calc((100% - 180px) / 6);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.footer__social-form {
  text-align: center;
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address-wrapper {
  text-align: center;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__item-address {
  margin-top: 20px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--time) var(--cubic);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__mail-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time) var(--cubic);
}

.footer__mail-link:hover, .footer__mail-link:focus {
  color: var(--accent-color);
}

.footer__tel-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time) var(--cubic);
}

.footer__tel-link:hover, .footer__tel-link:focus {
  color: var(--accent-color);
}

.footer__social-title {
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.footer__social-form-head {
  margin-top: 60px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-form-input {
  margin-top: 20px;
  min-width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 16px 15px;
  color: #ffffff;
  transition: border var(--time) var(--cubic);
  outline: none;
}

.footer__social-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-form-input:hover, .footer__social-form-input:focus {
  border: 1px solid #2196f3;
}

.footer__social-button {
  height: 50px;
  max-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  align-items: center;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  transition: background-color var(--time) var(--cubic);
}

.footer__social-button:focus, .footer__social-button:hover {
  background: #188ce8;
}

.footer__social-button-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__social-container {
    margin-right: 89px;
    margin-top: 5px;
  }
  .footer__container-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__address-wrapper {
    text-align: center;
    margin-left: 76px;
  }
  .footer__social-title {
    margin-top: 0px;
  }
  .footer__social-form-input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer__address-wrapper {
    text-align: unset;
    margin-left: 0px;
  }
  .footer__email-container {
    display: flex;
    align-items: baseline;
  }
  .footer__social-form-input {
    min-width: 358px;
    margin-right: 12px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__social-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-right: 115px;
    margin-left: 70px;
    margin-top: 0;
  }
  .footer__social-form-head {
    margin-top: unset;
  }
  .footer__social-form {
    text-align: unset;
  }
  .footer__container-tablet {
    display: flex;
    align-items: baseline;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  background: #ffffff;
  transition: box-shadow var(--time) var(--cubic);
}

.product__item:hover, .product__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__item:not(:last-child) {
  margin-bottom: 30px;
}

.product__image {
  width: 100%;
}

.product__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--product-item-name-color);
  margin-top: 4px;
}

.product__suptitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-title-color);
}

.product__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--time) var(--cubic), opacity var(--time) var(--cubic);
}

.product__item:hover .product__overlay,
.product__item:focus .product__overlay {
  transform: translateY(0);
  opacity: 1;
}

.product__overlay-text {
  position: absolute;
  max-height: 168px;
  max-width: 322px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.button-margin {
  margin-bottom: 15px;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.category__item:not(:last-child) {
  margin-right: 8px;
}

.category__button {
  font-family: 'Roboto', sans-serif;
  color: var(--black-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: 0px;
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.category__button:hover, .category__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .product__list {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: -30px;
    margin-top: -30px;
  }
  .product__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
  .button-margin {
    margin-bottom: 0px;
  }
  .category__list {
    justify-content: center;
  }
  .product__content {
    padding: 20px 18px;
  }
}

@media screen and (min-width: 1200px) {
  .product__list {
    flex-basis: calc((100% - 90px) / 3);
  }
  .product__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 94%;
  min-height: 609px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: scale var(--time) var(--cubic);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}

.btn-close {
  fill: #000000;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}

.btn-close:hover, .btn-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.modal-form__input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border var(--time) var(--cubic);
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.16;
  color: var(--product-item-name-color);
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time) var(--cubic);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__message {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  transition: border var(--time) var(--cubic);
}

.modal-form__message:focus, .modal-form__message:hover {
  border: 1px solid var(--accent-color);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__button-submit {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  transition: background-color var(--time) var(--cubic);
}

.modal-form__button-submit:hover, .modal-form__button-submit:focus {
  background-color: #188ce8;
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.modal-form__checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 2px;
  border: 2px solid #212121;
  cursor: pointer;
  text-align: center;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label::before {
  background-image: url("../images/modal-image/icon-check.svg");
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: none;
}

.modal-form__link {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__head {
    font-size: 20px;
    line-height: 1.15;
  }
  .modal-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
/*# sourceMappingURL=main.css.map */